.installed.cfg
.mr.developer.cfg
bin/
buildout.cfg
local_settings.py
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
src/
var/
dist/
venv/
peer/media/
peer/static/
*.pyc
*.pyo
*.swp
*.swo
*.egg-info
_build
setup.py
*.*~
peer.db
