{% extends "base.html" %}

{% load i18n %}

{% block extra_menu %}
{% include "entity/menu.html" %}
{% endblock %}

{% block content %}
<section class="mainContent">
  <hgroup>
    <h1>{% trans "Manage IdP Categories" %}</h1>
    <h2>{{ entity }}</h2>
  </hgroup>

    <form action="{% url 'entities:manage_idp_categories' entity.id %}" method="post">{% csrf_token %}
      <fieldset>
      {{ form.as_p }}
      </fieldset>
      <fieldset class="actionRow">
          <input class="button" type="submit" value="{% if MODERATION_ENABLED %}{% trans "Submit changes for moderation" %}{% else %}{% trans "Save changes" %}{% endif %}" />
        {% trans "or" %} <a class="button" href="{% url 'entities:entity_view' entity.id %}">{% trans "Cancel" %}</a>
      </fieldset>

  </form>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" lang="javascript">
      (function ($) {
          $(document).ready(function () {
              $('#id_coc_priv_statement_url').parent().css('margin-left', '20px');
              $('#id_lang_priv_statement_url').parent().css('margin-left', '20px');
              $('#id_security_contact_email').parent().css('margin-left', '20px');
              if ($('#id_coc_priv_statement_url').val() === '') {
                  $('#id_coc_priv_statement_url').parent().css('margin-left', '20px').hide();
                  $('#id_lang_priv_statement_url').parent().css('margin-left', '20px').hide();
              }
              if ($('#id_security_contact_email').val() === '') {
                  $('#id_security_contact_email').parent().css('margin-left', '20px').hide();
              }
              $('#id_code_of_conduct').click(function (e) {
                  $('#id_coc_priv_statement_url').parent().show(e.target.checked);
                  $('#id_lang_priv_statement_url').parent().show(e.target.checked);
              });
              $('#id_sirtfi_id_assurance').click(function (e) {
                  $('#id_security_contact_email').parent().show(e.target.checked);
              });
          });
      }(jQuery));
</script>
{% endblock %}

