{% load i18n entity_permissions split_strings %}

    <ul class="nav-menu">
      {% canedit entity %}
      <li><a href="{% url 'entities:entity_view' entity.id %}">{% trans "Entity Details" %}</a></li>
      <li><a href="{% url 'entities:edit_metadata' entity.id %}">{% trans "Edit metadata" %}</a></li>
      {% if MODERATION_ENABLED and entity.state != "published"%}
            {% canapprove entity %}
      <li><a href="{% url 'entities:edit_metadata' entity.id %}">{% trans "Approve/Reject metadata changes" %}</a></li>
            {% endcanapprove %}
      {% endif %}
      <li><a href="{% url 'entities:entity_remove' entity.id %}">{% trans "Remove" %}</a></li>
      {% canchangeteam entity %}
      <li><a href="{% url 'entities:sharing' entity.id %}">{% trans "Team permissions" %}</a></li>
      {% endcanchangeteam %}
      {% if entity.is_metarefreshable %}
        <li><a href="{% url 'entities:metarefresh_edit' entity.id %}">{% trans "Metarefresh" %}</a></li>
      {% endif %}
      {% if entity.role_descriptor == 'SP' %}
        <li><a href="{% url 'entities:manage_sp_categories' entity.id %}">{% trans "Manage SP Categories" %}</a></li>
      {% elif entity.role_descriptor == 'IDP' %}
        <li><a href="{% url 'entities:manage_idp_categories' entity.id %}">{% trans "Manage IDP Categories" %}</a></li>
      {% endif %}
      {% endcanedit %}
      {% if request.path|get_path != 'monitoring_prefs' %}
        <li><a href="{% url 'entities:monitoring_prefs' entity.id %}">{% trans "Monitor endpoints" %}</a></li>
      {% endif %}
    </ul>
