{% load i18n l10n %}

{% if incomplete %}
<div class="ui-widget">
  {% for message in incomplete %}
  {% with type=message.0 tag=message.1 url=message.2 link=message.3 %}
    {% if type == 'missing' %}
      <p><span class="ui-icon ui-icon-alert"></span>{% blocktrans %}The {{ tag }} is missing. Please go to the <a href="{{ url }}">{{ link }}</a> tab to fix it.{% endblocktrans %}</p>
    {% else %}
      <p><span class="ui-icon ui-icon-alert"></span>{% blocktrans %}{{ tag }}. Please go to the <a href="{{ url }}">{{ link }}</a> tab to fix it.{% endblocktrans %}</p>
    {% endif %}
  {%endwith %}
  {% endfor %}
</div>
{% endif %}

